.person-detail-container {
    display: flex;
    width: 80%;
    margin: 3rem auto;
}

.user-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    margin-left: 3rem;
    min-height: 300px;
}

.user-image {
    width: 300px;
}

.user-name {
    text-decoration: none;
}

.user-description {
    width: 100%;
    min-height: 300px;
    text-align: left;
    padding-left: 9rem;
}