.header {
    background-color: #012c6a;
    color: #fffff2;
    border-bottom: 2px solid #ffc323;
    padding: 3rem 0 10px;
  }
  
  .header-text {
    display: flex;
  }
  
  .header-text-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
  }
  
  .logo {
    height: 9rem;
  }
  
  .nav-row a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    font-size: 1.7rem;
    transition: 0.2s ease-out;
    
  }
  
  .nav-row a:hover {
    background-color: #527ab4;
    border-radius: 2px;
    color: #fff;
    padding: 8px;
  }

  .active {
    background-color: #527ab4;
    border-radius: 2px;
    color: #fff !important;
  }
  
  .header p {
    font-size: 1.6rem;
  }
  
  .nav-row {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .sign-out {
    border: 0;
    font-size: 1.7rem;
    margin-left: 20px;
    padding: 6px;
    transition: 0.3s;

    &:hover {
      background-color: #000;
      color: #fff;
      border-radius: 2px;
      padding: 6px;
      background-color: #527ab4;
    
    }
  }
  