
.footer {
    background-color: #012c6a;
    color: #fffff2;
    border-top: 2px solid #ffc323;
    padding: 7px 0;
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }
  
  .footer a {
    text-decoration: none;
    color: #fffff2;
  }